<%@tourist_tours.each do |tourist_tour|%>
    <div>
        <h2><%= tourist_tour.tour.name%><%= button_to 'Show', tourist_tour_path(tourist_tour), method: :get%></h2>
        <h3>Total Amount: <%= tourist_tour.amount_bought%></h3>
        <h3>Start Date: <%= tourist_tour.start_date%></h3>
        <h3>End Date: <%= tourist_tour.end_date%></h3>
        <%if tourist_tour.tour.images.attached?%>
            <img class="img-fluid"   src="<%=(url_for(tourist_tour.tour.images.first))%>" alt="">
        <%end%>
            <%= tourist_tour.tour.details%>
    </div>
<%end%>