<h1> <%=@tour.name%> </h1>
<div>
    <% if @tour.images.attached?%>
        <%@tour.images.each do |image|%>
            <img class="img-fluid"   src="<%=(url_for(image))%>" alt="">
         <%end%>
    <%end%>
</div>
<h2> <%=@tour.location%> </h2>
<h3> <%=@tour.price%> </h3>
<h3> <%=@tour.duration%> </h3>
<p> <%=@tour.details%> </p>
